
h1 {
  letter-spacing: 0.2em;
  font-size: 57px;
  text-align: center;
  font-family: "Amiri", serif;
  font-weight: bold;
  margin-top: 100px;
  -webkit-transform: scale(1, 1.6);
  transform: scale(1, 1.6);
}

.welcome {
  font-size: 30px;
  text-align: center;
  font-family: cursive;
}

.multicolumns {
  text-align: justify;
  column-count: 2;
  column-gap: 2em;
  font-size: 11pt;
  margin-top: -15px;
  font-family: "Overpass", sans-serif;
  letter-spacing: -0.15;
  margin-left: 175px;
  margin-right: 175px;
}

#column2 {
  margin-top: -8.5px;
}
